body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
}

a{
    text-decoration: none;
}

.boton{
    text-decoration: none;
    background-color: #1b263b;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    transition: 0.3s;
    display: inline-block;
}

.boton:hover{
    background-color: #415a77;
    transform: scale(1.05);
    color: white;
}

/* ===== NAVBAR ===== */

.navbar{
    background-color: #1b263b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo a{
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links{
    display: flex;
    gap: 25px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #cbd5e1;
}