.devoluciones{
    padding: 40px;
}

.encabezado{
    margin-bottom: 30px;
}

.encabezado h1{
    color: #1b263b;
}

.busqueda{
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.busqueda input{
    width: 350px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.busqueda button,
.btn-devolver{
    border: none;
    background-color: #1b263b;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.tabla-devoluciones{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.tabla-devoluciones thead{
    background-color: #1b263b;
    color: white;
}

.tabla-devoluciones th,
.tabla-devoluciones td{
    padding: 16px;
    text-align: center;
}

.tabla-devoluciones tbody tr{
    border-bottom: 1px solid #ddd;
}