.reservas {
    padding: 40px;
}

.encabezado {
    margin-bottom: 30px;
}

.encabezado h1 {
    color: #1b263b;
}

.busqueda {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.busqueda input {
    width: 350px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.busqueda button {
    border: none;
    background-color: #1b263b;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
}

.tabla-reservas {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.tabla-reservas thead {
    background-color: #1b263b;
    color: white;
}

.tabla-reservas th,
.tabla-reservas td {
    padding: 16px;
    text-align: center;
}

.tabla-reservas tbody tr {
    border-bottom: 1px solid #ddd;
}

.btn-agregar {
    background-color: #1f2937;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s;
}

.btn-agregar:hover {
    background-color: #374151;
    transform: translateY(-2px);
}

.acciones{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.editar,
.eliminar{
    border: none;
    padding: 10px 14px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.editar{
    background-color: #415a77;
}

.editar:hover{
    background-color: #1b263b;
}

.eliminar{
    background-color: #c1121f;
}

.eliminar:hover{
    background-color: #780000;
}