html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.boton{
    text-decoration: none;
    background-color: #1b263b;
    color: white;
    padding: 15px 25px;
    border-radius: 10px;
    transition: 0.3s;
    display: inline-block;
}

.boton:hover{
    background-color: #415a77;
    transform: scale(1.05);
    color: white;
}

/* ===== NAVBAR ===== */

.navbar{
    background-color: #1b263b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo a{
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.nav-links{
    display: flex;
    gap: 25px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.nav-links a:hover{
    color: #cbd5e1;
}